In [ ]:
!pip --version

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
%pip install pandas

In [3]:
import pandas as pd

In [4]:
#Task 1
#import the csv file
destinations = pd.read_csv("Pandas_Destinations.csv")
print (destinations)

#destinations.shape #15 rows, 5 columns

print("There are this many rows, columns", destinations.shape)

   Destinations  Feedback  Star Rating  All-inclusive Most Visited City
0            UK         7            5             24            London
1         China         4            3            312          Shanghai
2         Italy         5            4             78              Rome
3        France         2            2             66             Paris
4     Singapore         3            5             10         Singapore
5   New Zealand         8            3             20        Wellington
6     Sri Lanka         6            2             35           Colombo
7      Cambodia        10            1            102        Phnom Penh
8      Thailand         8            2            400           Bangkok
9     Indonesia         2            2             39              Bali
10  Philippines         4            3             87           Manilla
11      America         4            3            720          New York
12         Doha         8            5            200              Doha
13      Vietnam         9            4            105       Ho Chi Minh
14      Myanmar         7            3             14            Yangon
There are this many rows, columns (15, 5)

In [5]:
#Task 2 Print row 3-8 ( using iloc/loc).
# print(destinations[3:9]) # this does it without iloc / loc

print(destinations.iloc[3:9])

  Destinations  Feedback  Star Rating  All-inclusive Most Visited City
3       France         2            2             66             Paris
4    Singapore         3            5             10         Singapore
5  New Zealand         8            3             20        Wellington
6    Sri Lanka         6            2             35           Colombo
7     Cambodia        10            1            102        Phnom Penh
8     Thailand         8            2            400           Bangkok

In [6]:
#Task 3.Find the mean number of all-inclusive hotels across all destinations.
print(destinations["All-inclusive"].mean().round(2)) 
# rounded to 2dp.

147.47

In [23]:
#Task 4.Find the lowest scoring destination.
#print(destinations.max()) # this give the max value for ALL columns, of any rows
#print(destinations.max(axis=1)) # this gives the max value for ALL rows, of any columns
print(destinations["Feedback"].min()) # REMEMBER to use to square brackets to call a column. 

#This gives the lowest score, BUT doesn't show all the information. 

#hmmmmmm ... do I need to reorder and then print by index?

2
2

In [8]:
#Task 5.Find the highest scoring destination.
print(destinations["Feedback"].max())

10

In [33]:
#Task 6.Find all the destinations where there are more than 200 (changed for my dataset) all-inclusive hotels. 
#print(destinations["All-inclusive"] >=9)

my_filter = destinations["All-inclusive"] >200 #this will give a boolean value for each row for All-incusive column. 
print(my_filter)

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11     True
12    False
13    False
14    False
Name: All-inclusive, dtype: bool

In [20]:
more_than_200 = destinations[my_filter]
more_than_200.head()  #This will print the rows that meet the filter more than 200. Note - would need to adjust head() if more than 5 results matched.

   Destinations  Feedback  Star Rating  All-inclusive Most Visited City
1         China         4            3            312          Shanghai
8      Thailand         8            2            400           Bangkok
11      America         4            3            720          New York

In [26]:
#Task 7.Filter the data by score above 8.  
score_filter = destinations["Feedback"]>8
above_8 = destinations[score_filter]
above_8.head()

   Destinations  Feedback  Star Rating  All-inclusive Most Visited City
7      Cambodia        10            1            102        Phnom Penh
13      Vietnam         9            4            105       Ho Chi Minh

In [29]:
#Task 8.Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem) 
score_filter = destinations["Feedback"]<2
below_2=destinations[score_filter]
below_2.head()

#there are no destinations with a feedback score of less than two. 

score_filter = destinations["Feedback"]<=2
below_equal_2=destinations[score_filter]
below_equal_2.head()

#two destiations have a score equal to 2.

  Destinations  Feedback  Star Rating  All-inclusive Most Visited City
3       France         2            2             66             Paris
9    Indonesia         2            2             39              Bali

Questions: 
Task 4 & 5 - prints the score, but doesn't show the destination details. ... improve this? 
Task 6 - this code give the boolean results. How to get it to show the actual data rows where it is True?